// > Basic Settings
// > ------------------------------------------------------------------------

html {
    font-size: 62.5%; // 1rem = 10px

    // 關閉瀏覽器預設的滾動條
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    font-size: 1.6rem;
}

// 關閉 Nuxt 預設的 loading
.nuxt-loading-indicator {
    display: none;
}


::selection {
    color: #fff;
    background-color: #000;
}

:root {
    --color-brand-1: #AD7B4C;
    --color-brand-2: #DEB591;
    --color-brand-3: #F6F2EB;
    --color-brand-4: #73B4D3;
    --color-brand-5: #F78181;
    --color-brand-6: #76491F;
    --color-black-1: #000000;
    --color-black-2: #313032;
    --color-gray-1: #DBDBDB;
    --color-gray-2: #EFEFEF;
    --color-gray-3: #7E7A7599;
    --color-white-1: #FFFFFF;

    --border-width: 1px;
    --border-radius: 0.4rem;
    --transition-speed: 0.2s;
}

// > Typography
// > ------------------------------------------------------------------------

// 初始字體風格設定用 https://systemfontstack.com/
// 黑體 TC
$family-sans:    'Noto Sans TC', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
// 黑體 JP
$family-display:   'Noto Sans TC', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
// 英文字體
$family-english: 'Avenir', 'Segoe UI', 'Arial', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// 特殊字體安裝
// 如果可以的話，建議使用 @font-face 安裝，避免使用 @import 引入
// @font-face {
//     font-family: 'ChiayiCityFont';
//         src: url('@/assets/fonts/ChiayiCity.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }



// > Grid
// > ------------------------------------------------------------------------

$grid-gutter-width: 2.4rem; // _layout.scss 在使用

$container-margin: (
    mobile:   2.4rem,
    tablet:   2.4rem,
    medium:   2.4rem,
    desktop:  2.4rem,
    large:    2.4rem,
);

$gutter: (
    mobile:   1.6rem,
    tablet:   1.6rem,
    desktop:  2.4rem,
);

$grid-columns: (
    mobile:   4,
    tablet:   8,
    medium:   12,
    desktop:  12,
    large:    12,
);


$container-max-widths: (
    mobile:   100%,
    tablet:   100%,
    medium:   960px,
    desktop:  1180px,
    large:    1180px,
);

// > rwd
// > ------------------------------------------------------------------------

$breakpoints: (
    mobile:  0px,
    tablet:  768px,
    medium:  1024px,
    desktop: 1280px,
    large:   1441px,
)
