
// > For project custom global css
// > ------------------------------------------------------------------------

body {
    font-size: 1.6rem;
    color: map-get($colors, black-2);
    background-color: var(--color-brand-3);

    &.is-loading {
        cursor: progress;

        #es-app {
            pointer-events: none;
            overflow: hidden;
            position: relative;
        }
    }
    // &::-webkit-scrollbar {
    //     display: none;
    // }
}

.nuxt-loading-indicator {
    display: none;
}

html {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
